* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}


/* CABEÇALHO VERDE */
header div {
    width: 100vw;
    height: 7vh;
    background-color: #589167;
    display: flex;
    align-items: center;
}    

header h2 {
    color: white;
    padding-left: 150px;
    font-size: 15px;
    cursor: pointer;
}

header img {
    width: 25px;
}

header li {
    display: inline-block;
    cursor: pointer;
    padding: 0 10px 0 10px;   
}

header ul {
    position: relative;
    left: 55%;
}


/* MENU BRANCO */
menu {
    position: -webkit-sticky;
    position: sticky; 
    top: -1px;
}

nav {
    width: 100%;
    height: 14vh;
    background-color: white;
    display: flex;
    align-items: center;     
}

menu li {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

#nomedaempresa {
    margin-left: 150px;
    font-size: 45px;
    font-family: 'Philosopher', sans-serif;
}

.itemMenu {
    position: relative;
    left: 38%;
    margin: 0 10px 0 10px;
}

menu a {
    text-decoration: none;
    color: black;
}

menu a:hover {
    color: #589167;
    transition: 0.4s;
    font-size: 23px;
}



/*---estilo cadastro---*/
main{
    width: 80%;
    min-width: 700px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 10px;
    background-color: #589167;
}
#cadastro{
    color: white;
    padding: 5%;
    font-family: 'Merriweather Sans', sans-serif;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cadastro h1{
    font-weight: bold;
    font-size: 1.8em;
    margin: 5%;
}
#cadastro label{
    font-size: 1.2em;
}
#imagem{
    background-color: white;
    padding: 30px;
    border-radius: 100px;
}
#cadastroFinal{
    width: 300px;
}

/*campos do cadastro*/
input{
    text-align: center;
    width: 300px;
    height: 30px;
    border: 1px solid #589167 ;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 1px 1px 5px;
}
select{
    text-align: center;
    width: 150px;
    height: 35px;
    border: 1px solid #589167 ;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 1px 1px 5px;
}
#btnCadastrar{
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    color: #589167;
    text-align: center;
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 30px;
    margin: 5%;
    box-shadow: 3px 3px 10px black;
    font-family: 'Merriweather Sans', sans-serif;
    
    margin-left: 80px;

}
#btnCadastrar:hover{
    background-color: black;
    color: white;
}
#dados{
    font-size: 1.4em;
    padding: 2%;
    border-radius: 3px;
    text-align: center;
}



/* FOOTER */
footer {
    width: 100%;
    height: 40vh;
    background-color:#599168;   
}

footer div {
    width: 33.3%;
    height: 40vh;
    float: left;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.divconteudofooter{
    flex-direction: column;
    text-align: right;
}

.divconteudofooter img {
    width: 8%;
}

h5{
    color: white;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 20px;
}

.divconteudofooter p {
    color: white;
    padding: 5px 0 15px 0;
}

#divconteudofooter img{
    padding: 5px 0 13px 0;
    cursor: pointer;   
}

#copyright{
    font-size: 0.8em;
}



/* --------------------------------> JAVASCRIPT | DARK MODE  <-------------------------------- */


/* DARK-MODE JAVASCRIPT */
#darkmode {
    position: absolute;
    background-color: #589167;
    height: 25px;
    width: 60px;
    border: 3px solid black;
    border-radius: 30px;
    left: 110%;
}

#darkmode:before{
    position: absolute;
    content: "";
    background-color: black;
    height: 24px;
    width: 26px;
    border-radius: 50px;
    left: 1px;
    cursor: pointer;
    transition: 0.9s;
}

#darkmode.dia:before {
    left: 34px;
    background-color: #fff;
}

body.noite {
    background-color: rgb(34, 34, 34);
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

nav.noite {
    background-color: rgb(34, 34, 34);
}

a.noite {
    color: #fff;
}

.pServico.noite {
    color: white;
}

#textoh3.noite{
    color: white;
}



    

  

